@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

html {
    background-image: url(imagebg.png);
    font-family: 'Montserrat';
}

.center {
    text-align: center;
}

.mage {
    height: 13em;
    transition: 0.5s;
}

.mage:hover {
    height: 15em;
    transition: 0.5s;
}

h1 {
    color: white;
    font-size: 4em;
}

.white {
    color: white;
    font-size: 2em;
    text-decoration: none;
}

.blue {
    color: lightblue;
    font-size: 2em;
    text-decoration: none;
    display: block;
    transition: 0.5s;
}

.blue:hover {
    color: rgb(132, 164, 175);
    font-size: 2em;
    text-decoration: none;
    display: block;
    transition: 0.5s;
}

.button {
    background-color: lightblue;
    font-size: 4em;
    text-align: center;
    border: none;
    border-radius: 0.3em;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.button:hover {
    background-color: lightblue;
    font-size: 6em;
    display: inline-block;
    text-align: center;
    border: none;
    border-radius: 0.3em;
    transition: 0.5s;
}